body {
    margin: 0;
    background-color: black;
}

header {
    height: 500px;
    width: 1000px;
    margin: auto;
    background-image: url("img/presentation_mojo_header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
    text-align: center;   
}

.autoplay {
    z-index: -1;
    color: white; 
    font-size: 2em;
    font-style: italic;
}

main {
  text-align: center;
  width: 80%;
  margin: auto;
}
h1, 
h2, 
h3 {
    color: #FFCC00;
}

.list-emphasis {
    color: #0099FF;
}

.list-lead {
    text-align: left;
    font-size: 24px;
}

ul {
    text-align: justify;
    color: white;
}
.content-text {
    color: white;
    font-size: 1.5em;
    text-align: justify;
}

.mojo-form {
    color: white;
    text-align: justify;
}

.article-two {
    font-size: 1.5em;
}